[2014-10-31 21:42] vinkla opened #1 "Add better tests"
This is important. The tests should be integrated with Laravel.

[2014-11-06 22:05] jorisnoo opened #2 "Laravel 5.0 support"
Hi,

I'd love to give your package a try. Could you update `"illuminate/support": "~4.0"` to `dev-master` for Laravel 5 support?

Thanks! :)

[2015-01-22 07:28] vinkla commented on #2
This has been merged into master in a6926e5. Thanks for your contribution!

[2015-01-22 07:28] #2 closed

[2015-01-31 19:49] GrahamCampbell opened #7 "Manager Class?"
Have you considered using my manager package to allow you to easily have multiple connections to vimeo?

[2015-01-31 19:52] vinkla commented on #7
Don't know about it. How will it help? Do you have any example packages using it already?

[2015-01-31 19:53] GrahamCampbell commented on #7
Yeh, I've got a few that use it and they've got pretty good unit tests. One sec...

[2015-01-31 19:55] GrahamCampbell commented on #7
All work on Laravel 4.1/4.2/5.0.

Manager repo: https://github.com/GrahamCampbell/Laravel-Manager.

My packages that use it: https://github.com/GrahamCampbell/Laravel-Flysystem, https://github.com/GrahamCampbell/Laravel-Dropbox, https://github.com/GrahamCampbell/Laravel-DigitalOcean, https://github.com/GrahamCampbell/Laravel-GitHub.

Laravel-Dropbox is probably the simplest one to look at. The fly

[2015-01-31 19:59] vinkla commented on #7
Thanks! This looks quite nice. It provides a much easier coverage of testing facades etc. I'll look into it!

[2015-01-31 20:03] vinkla commented on #7
@GrahamCampbell Off the topic, do you've any tips on working with packages locally. What is your workflow?

[2015-01-31 20:09] GrahamCampbell commented on #7
I tend not to test that things work by putting them in apps, but by writing unit tests, and I'll often write a few basic functional tests when I done. I'd say my workflow for testing packages in applications is pretty shocking tbh - I'll literally just ftp over the changes.

[2015-01-31 20:12] vinkla commented on #7
Sounds a bit dangerous but it also makes sense letting the tests speak for them selfs. Thanks for sharing!

[2015-01-31 20:14] GrahamCampbell commented on #7
Once I've got a good test coverage, I can much more confidently refactor, and often won't check things work for myself. For example, I never actually tested the upgrade to flysystem 1.0 in my flysystem wrapper.

[2015-01-31 22:22] #1 closed

[2015-01-31 22:44] #7 closed

[2015-01-31 22:45] vinkla commented on #7
Merged in d88951e.

[2015-02-27 17:37] greeven opened #8 "Installation Process with Laravel 4"
At this point "php artisan vendor:publish" I get "There are no commands defined in the "vendor" namespace.

So I copied the \vendor\vinkla\vimeo\src\config\config.php to \app\config\vimeo.php because that's what the command was supposed to do, right?

I inserted my identifier, code and token there but the basic example:
Vimeo::request('/me/videos', ['per_page' => 10], 'GET');

Just gives me:
array

[2015-02-27 18:27] vinkla commented on #8
The latest version doesn't support Laravel 4. Gry looking at the `1.0` branch instead https://github.com/vinkla/vimeo/blob/1.0/README.md

[2015-02-28 17:58] greeven commented on #8
I did that.

The solution was that instead of "php artisan vendor:publish" one should use "php artisan config:publish vinkla/vimeo" instead.

And now that it works I also see my mistake in copying the config.php as vimeo.php directly into \config.

Thanks!

[2015-02-28 18:02] #8 closed

[2015-03-01 04:07] vinkla commented on #8
The installation guide is different in the `1.0` branch. Great that you've got it up and running.

[2015-03-25 07:26] piyushpatil027 opened #9 "I have to upload video with privacy setting . How i can do this?"
Hi @vinkla,

Hope you are doing great. I have used your library but I can not upload video with privacy setting. Is there any option to upload video with privacy setting. Please as soon reply me.

Thanks.

[2015-03-25 07:37] vinkla commented on #9
Hi @piyushpatil027! This package utilizes the [vimeo/vimeo-api](https://github.com/vimeo/vimeo.php) package maybe better to [open up a issue](https://github.com/vimeo/vimeo.php/issues) at their repository instead since this is not Laravel specific.

[2015-03-25 07:37] #9 closed

[2015-05-07 17:08] tbergeron opened #10 "Unable to complete request.[error setting certificate verify locations: CAfile..."
Hi!

I've been using your library for a website in production for a few months now and everything has been smooth. Now I'm trying to develop an update to that website and I cannot run it on local anymore.

I get this:

[code]

The error happens immediately when I use `Vimeo::request()`. Any idea? I'm not finding anything really useful on Google so I guess maybe Vimeo changed something on their API

[2015-05-07 17:09] tbergeron commented on #10
When I check at `/home/vagrant/workshop/radiotalbot.tv/vendor/vimeo/vimeo-api/certificates/vimeo-api.cer` the certificate is there. i.e.

vagrant@homestead:/etc/ssl/certs$ ls -al /home/vagrant/workshop/radiotalbot.tv/vendor/vimeo/vimeo-api/certificates/vimeo-api.cer
-rwx------ 1 501 dialout 1176 May  1 17:45 /home/vagrant/workshop/radiotalbot.tv/vendor/vimeo/vimeo-api/certificates/vimeo-api.cer

M

[2015-05-07 17:17] tbergeron commented on #10
Adding

[code]

to your request method made it work. So I** guess the SSL certificate is outdated**.

[2015-05-07 17:18] eduardostuart commented on #10
Change  in your composer.json. Update the dependency: "vimeo.php" to version 1.1.

Don't turn off SSL verification.

[2015-05-07 17:20] tbergeron commented on #10
Why use 1.1? I'm on Laravel 5?

[2015-05-07 17:22] eduardostuart commented on #10
Don't change your laravel version. Change the Vimeo Version inside composer.json (vendor/vinlka/composer.json).

I'm making a pull request right know..to fix that problem.

[2015-05-07 17:22] tbergeron commented on #10
I understood, tried using vinkla/vimeo 1.1 and got:

[code]

[2015-05-07 17:26] tbergeron commented on #10
Oh I see, so I changed vendor/vinkla/vimeo/composer.json

[code]

to

[code]

and ran composer update inside the same directory (vendor/vinkla/vimeo) it all ran but I still get the same cert error.

Thanks for the pull request and the help.

[2015-05-07 17:32] vinkla commented on #10
@tbergeron That shouldn't matter, the version `~1.0` covers all versions that starts with one `1.*`. Which version of Laravel are you using? 5.0?

@Dashron and @kenyavs, do you any input on this?

[2015-05-07 17:33] eduardostuart commented on #10
Change your:
[code]
to
[code]

I changed to version 1.2, but ..got a lot of errors. I'll try this version (1.2) later.

[2015-05-07 17:53] Dashron commented on #10
There's an issue with 1.2 in some development environments. I'm working on it now. If you use 1.1 you won't have any problems.

[2015-05-07 17:59] vinkla commented on #10
@Dashron Thanks for getting back. Do you've an estimate on when it will be done? Will it be a patch release? `1.2.1`?

[2015-05-07 18:04] Dashron commented on #10
Yeah it will. I've changed the cert to a pem, master has the fix, but I'm getting it tested on a mac (I believe the two different environments was the cause of this)

[2015-05-07 18:06] vinkla commented on #10
Okay, cool. Let me know how it goes.

[2015-05-07 18:21] Dashron commented on #10
Released. Tested on mac and linux with cer. If cers fail for some users I'm going to make it optional and bundle both cer+pem

[2015-05-07 18:23] Dashron commented on #10
Misspoke, moved to pem as the final solution, cer was the old one. cer didn't work in some circumstances. if pem fails on anyones machines the certs will become optional, and both cer and pem will come bundled with the app.

[2015-05-07 20:25] tbergeron commented on #10
Seems to work fine for me now, thanks!

[2015-05-07 20:34] vinkla commented on #10
@tbergeron glad you solved it! Big thanks to @Dashron :+1:

[2015-05-07 20:34] #10 closed

[2015-08-11 07:02] Geekathon opened #12 "Can i use it with Laravel 4.2"
Is this also compatible with laravel 4.2 ?

[2015-08-11 07:03] GrahamCampbell commented on #12
Yes, use 1.x.

[2015-08-11 07:04] GrahamCampbell commented on #12
Yes. Why did you even ask? Read the composer.json file... https://github.com/vinkla/vimeo/blob/1.1.0/composer.json#L17.

[2015-08-11 07:05] Geekathon commented on #12
Oh my god! You are so awesome! I didn't even read that. I just read "Readme" and that says Laravel 5.

Thank you so much .

[2015-08-11 07:05] #12 closed

[2016-09-19 20:11] KrGyan opened #14 "Streaming uploads"
Can you please post some example of Streaming uploads. I can't see that much help in your documentation. @vinkla @

[2016-09-19 20:33] vinkla commented on #14
Please refer to the original repository https://github.com/vimeo/vimeo.php This is just a Laravel wrapper.

[2016-09-19 20:33] #14 closed

[2016-12-01 05:41] stojankukrika opened #15 "VimeoUploadException in Vimeo.php line 365:"
HI,
I just add your script in laravel application, setup vimeo keys and try to upload, but get this error. Can you help me?

[2016-12-01 08:54] vinkla commented on #15
Since this a Laravel wrapper for [the official Vimeo package](https://github.com/vimeo/vimeo.php) I suggest we ask @erunion and @Dashron about this.

[2016-12-01 10:57] stojankukrika commented on #15
Can you do that,please?

[2016-12-01 11:38] vinkla commented on #15
No, I'll only point in the right direction. It is your problem. Not mine.

[2016-12-01 13:32] stojankukrika commented on #15
but I use your package and it doesn't works.

[2016-12-01 15:23] erunion commented on #15
@stojankukrika Sounds like there's something funky with how you're using the library, can you email our support team? Someone there will get you sorted out. https://vimeo.com/help/contact#tech-api

[2016-12-01 16:40] stojankukrika commented on #15
tnx @erunion.I just send a contact message, I hope you can solve mine problem. TNX.

[2016-12-01 17:07] vinkla commented on #15
That doesn't mean you can expect support from me. I've provided this package for free.

[2016-12-01 17:07] #15 closed

[2017-01-02 11:22] Kjeld opened #16 "Keep getting Class vimeo does not exist use a facade"
After doing all the config stuff I keep getting this error with a facade.
$servicearr = Vimeo::request("/videos/194590665");

`    			'Vimeo' => Vinkla\Vimeo\Facades\Vimeo::class,

				'FFMPEG' => LinkThrow\Ffmpeg\Facade\FfmpegFacade::class,

				'Form' => Collective\Html\FormFacade::class,

				'Html' => Collective\Html\HtmlFacade::class`
The facade is setup correctly and so is the provider:

`

[2017-01-02 11:33] vinkla commented on #16
Please share the entire file where you try to use the facade.

[2017-01-02 12:21] Kjeld commented on #16
Sure here is the controller file.
[BlaController.php.txt](https://github.com/vinkla/laravel-vimeo/files/680750/BlaController.php.txt)

[2017-01-02 12:39] GrahamCampbell commented on #16
Looks like you've not registered the service provider correctly. Please run the artisan config cache clear, and optimize commands.

[2017-01-02 12:49] Kjeld commented on #16
Thanks @GrahamCampbell !
php artisan config:cache
php artisan config:clear
Worked!

[2017-01-02 12:49] #16 closed

[2017-01-02 13:30] GrahamCampbell commented on #16
NB, you should only run config:cache, because running cache already runs clear, so your clearing the cache, re-caching it, then clearing it again.

[2017-01-29 15:21] petersontubini opened #17 "Add suport for Laravel newest versions."
- vinkla/vimeo 3.4.0 requires illuminate/support 5.1.* || 5.2.* || 5.3.* -> satisfiable by laravel/framework[v5.3.30], illuminate/support[v5.1.1, v5.1.13, v5.1.16, v5.1.2, v5.1.20, v5.1.22, v5.1.25, v5.1.28, v5.1.30, v5.1.31, v5.1.41, v5.1.6, v5.1.8, v5.2.0, v5.2.19, v5.2.21, v5.2.24, v5.2.25, v5.2.26, v5.2.27, v5.2.28, v5.2.31, v5.2.32, v5.2.37, v5.2.43, v5.2.45, v5.2.6, v5.2.7, v5.3.0, v5.3.16,

[2017-01-29 17:30] #17 closed

[2017-01-29 20:06] petersontubini opened #18 "The wrapper doesn't work with the newest Laravel Version"
Steps to reproduce:

1) Install the newest Laravel version.
2) Try to install the wrapper and composer will return an error.

Please, check it before just closing....

[2017-01-29 21:12] vinkla commented on #18
Fixed. Try again.

[2017-01-29 21:12] #18 closed

[2017-03-02 05:27] tarlusah opened #19 "config/vimeo.php not created when vendor:publish"
using laravel 5.3 and config/vimeo.php not created when vendor:publish

[2017-03-02 06:11] vinkla commented on #19
Did you register the service provider?

[2017-03-02 08:03] tarlusah commented on #19
yes i did,

[2017-03-02 08:07] vinkla commented on #19
Please share your `app.php` file.

[2017-03-02 08:17] tarlusah commented on #19
![screenshot from 2017-03-02 15 17 28](https://cloud.githubusercontent.com/assets/6928269/23498696/659e581a-ff5b-11e6-8baa-834701823e34.png)
![screenshot from 2017-03-02 15 17 21](https://cloud.githubusercontent.com/assets/6928269/23498697/65a56c4a-ff5b-11e6-8062-fb3349dd19a2.png)

[2017-03-02 08:37] vinkla commented on #19
Okay, thanks. Could you also share the output when running `php artisan vendor:publish`?

[2017-03-02 09:11] tarlusah commented on #19
![screenshot from 2017-03-02 16 11 01](https://cloud.githubusercontent.com/assets/6928269/23500484/d940a6fe-ff62-11e6-8805-0ddbf4289746.png)

[2017-03-02 09:26] vinkla commented on #19
Weird, just tried this in one of my Laravel applications and it seems to work. Try updating to Laravel 5.4 and see if that works.

[2017-03-02 09:26] #19 closed

[2017-03-03 07:13] tarlusah commented on #19
is it good if i hard copy the `vimeo.php` file

[2017-03-03 07:18] vinkla commented on #19
Yeah, you can hard copy it. Shouldn't be a problem.

[2017-03-03 07:22] tarlusah commented on #19
oke, thank you @vinkla, i really appreciate your help:)

[2017-08-10 17:32] vishalmandora opened #21 "Unable to upload video sometimes"
Sometimes unable to upload video on my vimeo pro account. what's the issue?
no errors. no blockages still don't get response.

[2017-08-10 20:56] vinkla commented on #21
Please ask in the official Vimeo package https://github.com/vimeo/vimeo.php

[2017-08-10 20:56] #21 closed

[2017-08-11 04:23] vishalmandora commented on #21
Okay. Thanks for suggestion

[2017-09-01 21:39] larelb opened #22 "POST request to bypass storing video on local server"
How can your package be used to bypass storing the file on a local server and upload directly to Vimeo?
I want the user to be able to upload a file directly to Vimeo bypassing storing it on my server using your package.

[2017-09-01 21:50] vinkla commented on #22
Please ask in the official Vimeo package. This is just a Laravel wrapper.

[2017-09-01 21:50] #22 closed

[2017-09-19 00:15] hansgianfranco opened #23 "Error: Not Found"
Error, upload video but not return parameters video:
![captura de pantalla 2017-09-18 a la s 19 13 31](https://user-images.githubusercontent.com/6568256/30570252-b605f58c-9ca5-11e7-9a6c-7867e3303397.png)
![captura de pantalla 2017-09-18 a la s 19 13 57](https://user-images.githubusercontent.com/6568256/30570255-ba329c6e-9ca5-11e7-9eb3-f320b68a0982.png)
![captura de pantalla 2017-09-18 a la s 19 13

[2017-09-19 04:59] vinkla commented on #23
Please ask in the [official Vimeo package](https://github.com/vimeo/vimeo.php). This is just a Laravel wrapper.

[2017-09-19 04:59] #23 closed

[2017-09-28 18:06] justincone opened #24 "Dynamically set access_token?"
I've created a multi-user web app, and I'm storing each user's Vimeo token in the database.

Is there a way to dynamically set the access_token for a Vimeo connection?

Thank you in advance for your assistance — and for creating this project!

[2017-09-28 18:14] vinkla commented on #24
Hi @justincone, please open ask in [the official Vimeo package](https://github.com/vimeo/vimeo.php) repository. This is just a Laravel wrapper.

[2017-09-28 18:14] #24 closed

[2017-10-18 11:55] siddharthghedia commented on #19
` - Installation request for vinkla/vimeo ^3.7 -> satisfiable by vinkla/vimeo[3.7.0].
    - Conclusion: remove laravel/framework v5.4.36
    - Conclusion: don't install laravel/framework v5.4.36
    - vinkla/vimeo 3.7.0 requires illuminate/support 5.5.* -> satisfiable by illuminate/support[v5.5.0, v5.5.16, v5.5.17, v5.5.2].
    - don't install illuminate/support v5.5.0|don't install laravel/framew

[2018-02-12 15:17] uapixart opened #27 "Laravel 5.6 installation"
Good day!
When make upgrade upgrade or instalation on Laravel 5.6:

$ /usr/local/bin/composer require vimeo/laravel
Using version ^4.0 for vimeo/laravel
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation reques

[2018-02-12 18:52] slakbal commented on #27
@vinkla yeah would be awesome if the package could be upgraded to support Laravel 5.6 since we are currently updating our project which uses this package.

[2018-02-12 18:59] vinkla commented on #27
@slakbal you're free to submit a pull request to add Laravel 5.6 support.

If you want to, [you can use this pull request as a reference](https://github.com/vinkla/laravel-hashids/commit/b289c500c04750fd4086aa89099e360975299e9e).

[2018-02-13 16:36] erunion commented on #27
5.0.0 release has this now. Thanks!

[2018-02-13 16:36] #27 closed

[2018-02-23 22:41] hassanazimi opened #30 "Can't install this for Laravel 5.5"
[code]

Do your package really needs Eloquent 5.6.* ?

[2018-02-25 02:36] erunion commented on #30
This package doesn't require Eloquent.

If you want to install it on Laravel 5.5, install the [4.0 version](https://packagist.org/packages/vimeo/laravel#4.0.0).

[code]

[2018-02-25 02:36] #30 closed

[2018-02-25 02:55] hassanazimi commented on #30
there is not version 4.0 version before this version was renamed.

[2018-02-25 02:57] erunion commented on #30
When we renamed the package, we tagged 4.0 shortly after.

I was able to install 4.0 just now.

[code]

[2018-03-01 13:50] jjoao07 opened #31 "Cannot require via composer"
Hi Guys!

I need some help.

I'm trying to use this package, but for some reasons, I can't install it via composer.
getting error as be low screenshot.

![image](https://user-images.githubusercontent.com/19816874/36847820-26580bd4-1d68-11e8-9790-fde5954976e6.png)

can someone assist me with this please.

[2018-03-01 15:43] jjoao07 commented on #31
Solved it by upgrading Laravel 5.5 to 5.6.

Im now stuck about how do I rename the videos, before uploading.
because the way I used to rename while uploading to local server, is not working.

can you guys help me renaming the video before upload.
this waht i got so far

`   public function store(VideoFormRequest $request){

      $user = auth()->user()->first_name . auth()->user()->id .auth()->use

[2018-03-01 20:23] jjoao07 commented on #31
Fixed, all issues. above

The API himself got everything, i was looking.
Thanks

[2018-03-01 20:23] #31 closed

[2018-03-08 18:06] 1quintana opened #32 "You must provide a valid authenticated access token"
I saw that someone else already reported this issue and even when your answer was not very friendly to him I was wondering if you already figure it out?

I am wondering if this is related to the domain that I register when I registered the app, but I am confuse because they say that you can enter anyone if you are in develop environment.

<pre>
 'connections' => [

        'main' => [

[2018-03-08 18:52] vinkla commented on #32
I'm guessing you're referring to [this issue](https://github.com/vimeo/laravel/issues/15). Please note that this is open source software which was built for you to use **for free**. This is not a hotline for support questions.

[2018-03-09 16:03] erunion commented on #32
@1quintana Certain endpoints of the Vimeo API require a valid access token, which you need to generate through the [authentication process](https://github.com/vimeo/vimeo.php#generate-your-access-token).

[2018-03-09 16:03] #32 closed

[2018-03-13 12:52] 1quintana commented on #32
@erunion thank you for your answer, but if you read my message I said the problem could be related to the domain that I register when I registered the app with them which will provide the access token and they are already in my .env file if you check the provided code. Vimeo take for ever to reply they are rely bad on that so we decided to move on with youtube.

[2018-03-15 09:51] Lintume opened #33 "Wrong documentation package"
[code]
upload not working, returning error 'Unable to get an upload ticket.[You have provided an invalid parameter. Please contact developer of this application.]'
false is incorrect parameter, must be integer

[2018-03-17 23:52] manshu commented on #33
Use these three params in your .env file. You need to buy pro package via vimeo if you would like full access to their api.
[code]

[2018-03-19 13:32] erunion commented on #33
@Lintume What version of the package and Vimeo SDK are you using? We changed the signature of the `upload` method with version 2.0.0 so the second parameter is now an array.

[2018-04-30 20:56] icyz opened #34 "upload video"
I've tried to upload video without success using this code:
 `    $video = public_path('Wildog.mp4');`
 `    $u = Vimeo::upload($video);`

My laravel version is 5.6, installed with composer.
Php 7.1.14

I can't figured out, I have no error and in my vimeo account the video is created (empty).
The page seems "loading" but no one single byte is transferred to vimeo.

[2018-05-01 14:08] erunion commented on #34
Closing this out in favor of https://github.com/vimeo/vimeo.php/issues/167

[2018-05-01 14:08] #34 closed

[2018-05-11 00:16] petersontubini opened #35 "Add support for Laravel 5.6"
- vinkla/vimeo 3.7.0 requires illuminate/support 5.5.* -> satisfiable by illuminate/support[5.5.x-dev, v5.5.0, v5.5.16, v5.5.17, v5.5.2, v5.5.28, v5.5.33, v5.5.34, v5.5.35, v5.5.36, v5.5.37, v5.5.39, v5.5.40].

[2018-05-11 13:30] erunion commented on #35
We have Laravel 5.6 support in 5.0, so upgrading your dependency from 3.7.0 to that should resolve this.

[code]

[2018-05-11 13:30] #35 closed

[2018-07-16 08:04] rkg0612 opened #36 "Parameters (title, description, etc...)"
Hi,

I've already dissected your package and have not found a single code to upload a video with title and description. Do I miss something?

[2018-07-17 19:58] erunion commented on #36
Hi @rkg0612, this library is just a wrapper for our PHP SDK: https://github.com/vimeo/vimeo.php

You can see documentation for uploading a video with a title and description with it here: https://github.com/vimeo/vimeo.php#uploading-videos

So you'd do something like:

[code]

[2018-07-17 19:58] #36 closed

[2018-08-23 21:13] RobCodemonkey opened #37 "No uri returned on upload"
Using Laravel 5.6.34
My video uploads fine (I can see it either queuing in the vimeo video list or finished uploading) but I'm not getting a URI back from the API call.

The code I'm using is:
`if($request->vimeo == 1){
                $vimeo_result = $this->vimeo_upload($new_path,$item);
                Log::Debug('Vimeo Result: '.$vimeo_result);
            }`
From what I can see - the Log::Debu

[2018-08-27 14:53] erunion commented on #37
What's the `vimeo_upload` method? That's not part of our SDK or the this service provider.

[2018-09-05 10:48] goyote opened #38 "Please add Laravel 5.7 support"

[2018-09-06 13:46] #38 closed

[2018-09-06 13:56] erunion commented on #38
Snap, I didn't realize 5.7 was out already. Laravel 5.7 is now supported in 5.1.0.

https://github.com/vimeo/laravel/compare/5.0.0...5.1.0

[2018-09-25 12:55] a7med227 opened #40 "how can i implement progress bar when upload video ?"
**how i can get uploaded bytes by laravel api to implement progress bar !!**

[2018-09-27 11:02] quantumwebco opened #41 "Parameters (name, permissions)"
When adding parameters like in the official package and as you've mentioned in a previous ticket marked resolved it just returns...

Unable to get an upload ticket.[You have provided an invalid parameter. Please contact developer of this application.]

Is it just not possible with this library to pass things like name??

[2018-09-27 11:37] quantumwebco commented on #41
DW. This is because the older versions of this package only support older versions of the API. I'll just have to use the official php package. Thanks.

[2018-09-27 11:37] #41 closed

[2018-09-28 11:27] interactivespace opened #42 "Upload successful but script crashes without error"
We used in a project the package /vinkla/vimeo and updated to this package.

We upload the videos to vimeo with a queue. The upload still works as expected but after the upload the job immediately stops without any error and all code after the upload don't run.

Laravel 5.7
vimeo/larave 5.1

[code]

[2018-10-01 13:39] erunion commented on #42
We had some queue processing issues on Friday, but please contact our support team and they can investigate what happened. https://vimeo.com/help/contact

[2018-10-01 13:39] #42 closed

[2018-10-01 13:41] erunion commented on #40
This is unfortunately not possible at the moment because our PHP SDK does not have that ability.

[2018-10-01 13:41] #40 closed

[2019-01-04 19:42] ronlinet opened #43 "Domain Level Privacy"
Vimeo has a domain-level privacy feature which restrict the Vimeo content only for certain domain name. Does it work with this library?

[2019-01-16 15:51] erunion commented on #43
Yes. Follow our privacy documentation as you normally would with the API.

[2019-01-16 15:51] #43 closed

[2019-02-28 20:05] hassanazimi opened #45 "Laravel 5.8 support?"
Hi, can u support 5.8 in packagist, please? cant pull this package with new release.

[2019-03-01 15:06] #45 closed

[2019-03-01 15:08] erunion commented on #45
5.8 support is now in vimeo/laravel 5.3

[2019-03-10 12:52] TareqAbughosh opened #49 "Can I stream upload a file using this package?"
Some of the videos are way more than the nginx and php configurations. Is it possible to stream upload using this package?

[2019-03-12 15:07] erunion commented on #49
Not directly, no. You can use the `post` upload approach with this package (and https://github.com/vimeo/vimeo.php), get back a HTML form and then stream your upload to us through that.

https://developer.vimeo.com/api/upload/videos#form-approach

[2019-03-12 15:07] #49 closed

[2019-04-25 05:24] rebootcode opened #53 "No user credentials were provided - Something went wrong error"
Quite a weird issue. I have provided "all" details as mentioned in below:

[code]
Where `XXXXX` is my correct credentials.

When I do `Vimeo::getDefaultConnection();`
I get `main` as a return and `connection['main']` has following values:
[code]

But Whenever I do simple call:-

[code]

I get following error:

[code]

Any help would be appreciated, I am using Laravel 5.8 with Latest vimeo-laravel

[2019-04-25 14:35] tommypenner commented on #53
How did you generate your `access_token`?

[2019-04-25 14:38] rebootcode commented on #53
Through this -

1. https://developer.vimeo.com/apps/{MY_APP_ID_HERE}#generate_access_token
2. Click on "Authenticated (you)"
3. Clicked all option including upload, private as I have access to upload option now after approval.
4. The following tokens are authenticated to {NAME_HERE}.

Added them on Laravel - Opened the URL - http://localhost:8000/vimeo/request

and got the error.

[2019-04-25 19:07] tommypenner commented on #53
Can you make that same request again and debug it, get the auth token, and try making a request to https://api.vimeo.com/oauth/verify with that same bearer token?

[2019-04-25 19:17] rebootcode commented on #53
this time got some informaiton:
[code]

[2019-04-25 19:20] rebootcode commented on #53
Ok, all of a sudden - now it is working now.

was that vimeo cache? which was causing issue earlier? Why didn't it go earlier but works now?

[2019-04-25 19:27] rebootcode commented on #53
ok, now, I have weird issue:

[code]

and I see video uploaded with 0 size.

[2019-04-25 19:56] rebootcode commented on #53
Got it solved - using this issue solution https://github.com/vimeo/vimeo.php/issues/189

In composer.json Just add:
[code]

[2019-04-25 19:56] #53 closed

[2019-04-25 20:31] rebootcode opened #54 "Domain Level Privacy is very very confusing"
How does someone restrict video with domain level embed privacy? I am trying to upload video like this:-

[code]
and I make second request as below :-

[code]

Now, first I get an error as below:-

[code]

That is no content received with status code 204 and request complete.

I want to make the video available only when it is embedded in my domain and can not be seen anywhere else, nor anyone sho

[2019-04-25 20:44] rebootcode commented on #54
Documentation is available here - https://developer.vimeo.com/api/guides/videos/interact#set-off-site-privacy

[2019-04-25 20:44] #54 closed

[2019-04-26 15:07] tommypenner commented on #54
@rebootcode I recommend also checking out the on-site privacy docs here: https://vimeo.zendesk.com/hc/en-us/articles/224817847-Privacy-settings-overview

[2019-05-24 23:39] WyattCast44 opened #55 "Getting memory allocation issues"
I am working on an article of how to upload videos in a Laravel web app, and keep running into the issue below when trying to upload "large" videos.

[code]

As the error suggests it is running out of memory, but it is also saying it's attempting to allocate less bytes than the max...? Can't seem to make heads or tails of it.

My [example project repo](https://github.com/WyattCast44/vimeo) is here

[2019-06-01 17:05] mdsaif786 opened #56 "cURL error 55: SSL_write() returned SYSCALL, errno = 10053"
Upload is failing with SSL_write() error 55 errorno=10053 errors when I try to upload files greater than 50 MB. same file failed many times.File less then 30 MB seem to work.
for reference i'm attaching a screen shot.
![vimeoerror](https://user-images.githubusercontent.com/5468946/58751517-10612c80-84bd-11e9-8345-c855e60258ba.png)

os -windows
php version -7.2
laravel version -5.8
 "vimeo/laravel"

[2019-06-17 07:41] bryanJC1101 commented on #30
Problem 1                                                                                                                                                                                                                                                                         - Conclusion: remove laravel/framework v5.7.26

[2019-06-17 07:45] bryanJC1101 commented on #27
@vinkla i cannot install laravel/vimeo on laravel 5.7

[2019-06-17 07:51] bryanJC1101 opened #57 "Laravel 5.7 Support?"
@vinkla i cannot install on laravel 5.7

[2019-06-17 14:38] erunion commented on #30
// @onebrownsound

[2019-06-17 14:39] erunion commented on #27
@bryanJC1101 Laravel 5.7 is was targeted on the 4.0.0 release. Try that instead.

// @onebrownsound

[2019-06-19 04:08] #55 closed

[2019-06-21 16:13] vpillinger commented on #57
You must specify an older version. eg 5.2.1

[2019-07-22 14:09] NguyNL opened #58 "Laravel 5.8 vendor publish"
Hello,

I followed the instructions and when I got to the vendor publish part it won't create an vimeo.php in config.

Am I doing something wrong?

![image](https://user-images.githubusercontent.com/31842746/61639087-17294600-ac9b-11e9-956d-61e61bb7745f.png)
![image](https://user-images.githubusercontent.com/31842746/61639109-201a1780-ac9b-11e9-8d54-7ba2b40e688c.png)

[2019-09-03 16:34] hassanazimi opened #59 "Laravel 6.0 support"
Any chance you can make this package compatible for Laravel 6 and publish in packagist as soon as you can

[2019-09-04 23:45] jnbn commented on #59
Just opened a PR on https://github.com/vimeo/laravel/pull/60

[2019-09-06 07:44] BryanMootoosamy commented on #59
Actually, just bumping the version is not enough. Vimeo/laravel use the package vimeo/vimeo-api that use ankitpokhrel/tus-php locked to version 0.1.0. The problem is, ankitpokhrel/tus-php 0.1.0 require Carbon 1 and not Carbon 2 that is the main requirement of laravel 6

[2019-09-06 07:54] BryanMootoosamy opened #62 "Vimeo upload failed: Client error"
Hello,
we currently have a blocking issue with vimeo/laravel. Our project use laravel 5.8 and while trying to upload a video, we have an error :
`Vimeo upload failed:  [
    "Client error: `POST https://files.tus.vimeo.com/files/vimeo-prod-src-tus-eu` resulted in a `400 Bad Request` response:\n{\"error\":\"Invalid bucket\"}\n\n"
]`

That problem occurs because we use Carbon 2 in our project for an

[2019-09-09 07:24] BryanMootoosamy commented on #62
Also the cache of vimeo-api seems to cause problems with the location

[2019-09-18 05:07] asterism612 commented on #59
not supported yet.
when support laravel6?

[2019-09-18 15:27] jnbn commented on #59
@asterism612 after the last PR it should work. Can you please define what's wrong about it?

[2019-09-18 19:37] hassanazimi commented on #59
I still get this
[code]

[2019-09-18 19:39] jnbn commented on #59
I've changed it on https://github.com/vimeo/laravel/blob/76c9cc73317bfe3c41324a9721c35dd3f4af13f9/composer.json#L19 so there should't be a problem.

[2019-09-18 19:42] hassanazimi commented on #59
I can see that, also it's been merged, hasn't it? However, has it been tagged because I am using

[code]

in `composer.json` file. is that correct? if so, I still get this error!

[2019-09-18 19:43] jnbn commented on #59
Oh I see.

@muglug can you please tag and release latest commits on master as 5.4.1 ?

[2019-09-18 19:43] jnbn commented on #59
@hassanazimi can you try using dev-master on your composer for now?

[2019-09-18 20:17] hassanazimi commented on #59
can't do that! composer sticks!

[2019-09-19 02:37] diegosm commented on #59
Maybe the problem is only on 'how' it was tagged for packagist.
I used
...
     "vimeo/laravel": "dev-master"

and works fine for me until this moment.

[2019-09-19 16:41] hassanazimi commented on #59
Well for me when I use
[code]

and I run `composer update`, composer hangs and sticks!

[2019-09-19 18:39] jnbn commented on #59
I suggest deleting your composer.lock and try composer install while keeping vimeo/laravel on dev-master as it is.

[2019-09-27 18:41] jnbn commented on #59
@muglug can you please tag and release latest commits on master as 5.4.1 ?

Still no support for Laravel 6.

[2019-10-14 04:28] Mr-Anonymous opened #63 "Vimeo Upload Error - VimeoRequestException: Connection timed out"
The vimeo uploads has been working for over a year so far without a problem and there has been no changes to the server php or sql or any other settings. However, the past 3 days, some of the slighly large video uploads are failing and I get the following error in the laravel log:

[code]

What may be the reason here please?

I use Laravel 5.3, php 7 and use beanstalkd to process queue workers tha

[2019-10-16 04:40] Mr-Anonymous commented on #63
Sorry, does anyone have any suggestions on what might be the issue here please? I am receiving numerous logs with the `Connection timed out after 30001 milliseconds` error message everyday and have no idea what is causing this. It doesn't happen to all videos and it happens to some videos that are longer the 25 seconds in duration it seems. Is this issue from the Vimeo server side or is there some

[2019-10-28 09:08] mlenton commented on #63
Hello, we are seeing same here, though with `vimeo/vimeo-api` version 2.0.5 for PHP.

Did you find the root cause here @Mr-Anonymous ?

[2019-11-04 09:36] uapixart commented on #59
Same problem:
    - Installation request for vimeo/laravel ^5.4 -> satisfiable by vimeo/laravel[5.4.0].
    - Conclusion: remove laravel/framework v6.4.1
    - Conclusion: don't install laravel/framework v6.4.1
    - vimeo/laravel 5.4.0 requires illuminate/support ^5.8 -> satisfiable by laravel/framework[5.8.x-dev], illuminate/support[5.8.x-dev, v5.8.0, v5.8.11, v5.8.12, v5.8.14, v5.8.15, v5.8.17,

[2019-11-04 09:38] uapixart commented on #59
@hassanazimi hassanazimi are You found a solution of this problem?

[2019-11-04 12:10] uapixart commented on #59
My fix for problem:
in composer.json:
`    "minimum-stability": "dev",
    "prefer-stable": true`
then
`/usr/local/bin/composer require vimeo/laravel:dev-master`

[2019-11-05 17:29] hassanazimi commented on #59
@uapixart Thanks your solution worked for me.

[2019-11-09 15:24] SafwanAd-Dardak opened #66 "New release version for packagist."
Could you guys create a new release for this repository on [Packagist](https://packagist.org/packages/vimeo/laravel). I would like to use the newest changes in my project.

Thanks in advance!

[2019-11-09 15:30] #66 closed

[2019-11-09 15:30] SafwanAd-Dardak commented on #66
Thanks @muglug

[2019-11-13 22:09] 0ashishanand0 opened #67 "can we develop live video streaming and chat in a web application."

[2019-11-15 11:57] mstaack opened #68 "Version Issue Workaround for "invalid_bucket""
Currently installation is broken due to the peer dependency `tus @ v0.1.0` which hard requires carbon v1 as seen here: https://packagist.org/packages/ankitpokhrel/tus-php#v0.1.0

![image](https://user-images.githubusercontent.com/10169509/68942413-d785ed00-07a8-11ea-8334-26ae54525ebf.png)
![image](https://user-images.githubusercontent.com/10169509/68942435-e40a4580-07a8-11ea-9380-79c03d0369ec.png)

[2019-11-15 16:41] tommypenner commented on #68
@mstaack Thanks for the writeup! We have a PR in review now that should resolve this issue.

[2019-12-20 10:47] mstaack commented on #68
works correctly with latest packages..

[2019-12-20 10:47] #68 closed

[2020-01-25 13:08] Eternal127 commented on #56
Try chunk size as 10*1024*1024 (10 MB). As this is issue with tusclient which is used by vimeo to upload the files. I had the same issue in python library for vimeo.

[2020-02-24 11:14] ammarax commented on #56
@Eternal127 could you provide a richer explanation? i have the same issues error on python, i found a similar already opened issues here.

https://github.com/vimeo/vimeo.py/issues/150

[2020-03-09 21:15] paul-a-byford opened #71 "Laravel 7.0 support"
Can this package be used with laravel 7.0? The package works fine on laravel 6.0.

When attempted to install this package on laravel 7.0 I get an error message similar to this existing issue https://github.com/vimeo/laravel/issues/59

[2020-03-10 13:49] mstaack commented on #71
master branch already contains 7.0 references:
https://github.com/vimeo/laravel/blob/master/composer.json

just missing a proper release/tag

[2020-03-10 13:56] muglug commented on #71
I’ve just released

[2020-03-10 13:56] #71 closed

[2020-03-10 21:36] DanielScapulatempo opened #72 "Laravel 7 support"
I tried to install the version 5.5 package, but it still has the same compatibility problem as the other versions. Has anyone managed to install on the Laravel 7 version?
![Anotação 2020-03-10 183341](https://user-images.githubusercontent.com/12090590/76361529-fb43e480-62fd-11ea-98f9-5a66e7999e5f.png)

[2020-03-10 21:47] muglug commented on #72
This is ultimately an issue with the `tus-php` package required by `vimeo/vimeo-api`

[2020-03-11 23:28] paul-a-byford commented on #72
i have exactly the same issue as @DanielScapulatempo  i've not found a way to get it to install yet

[2020-03-12 16:42] ValentimWow opened #73 "Add configuration for chunk size"
Please add a config param for $default_chunk_size in \vimeo\vimeo-api\src\Vimeo\Vimeo.php, so that we can set a value that suits our needs. 100MB is not a reasonable value for some servers resulting in an Exception "cURL error 55: SSL_write() returned SYSCALL"

[2020-03-12 18:06] hassanazimi commented on #72
Your upgrade still gives me this error:
[code]

[2020-03-12 19:05] paul-a-byford commented on #72
Try this solution https://github.com/vimeo/vimeo.php/issues/244#issuecomment-598249711

[2020-03-12 21:09] hassanazimi commented on #72
@paul-a-byford still not working.

[2020-03-16 07:36] maxxscho commented on #72
Same here, this does not work because of the following requirement in `vimeo/vimeo-api`: `ankitpokhrel/tus-php: ^v1.0.0`.
See https://github.com/vimeo/vimeo.php/issues/244#issuecomment-599386472

[2020-03-17 02:48] DanielScapulatempo commented on #72
Unfortunately, in order not to delay the project, I had to go back to Laravel version 6.x. Anyway I continue to test some solutions given, but without success.

[2020-03-25 20:43] bledson commented on #72
not working here too. any other workaround?

[2020-03-31 08:40] Landish commented on #72
+1

[2020-04-02 14:30] rasmuscnielsen commented on #72
As a temporary fix you can add `"ankitpokhrel/tus-php": "dev-symfony-5 as 1.10.0"` to your project `composer.json`. This will trick composer into thinking it's installing a tus-php version compatible with what `vimeo-php` requires 🔥

Remember to remove it once https://github.com/ankitpokhrel/tus-php/tree/symfony-5 is merged. :-)

[2020-04-02 18:07] DanielScapulatempo commented on #72
@rasmuscnielsen

Thanks for your response.
I did a test now and it worked like a charm

![image](https://user-images.githubusercontent.com/12090590/78282872-5b8c0780-74f3-11ea-9d22-2c72286e165e.png)

Anyway, it looks like a new release with direct support is coming soon
https://github.com/ankitpokhrel/tus-php/issues/253

Thanx

[2020-04-03 14:16] bhavingajjar opened #74 "getting error while install vimeo laravel package to laravel v7.0"
![image](https://user-images.githubusercontent.com/11258397/78370007-ac7b2900-75e3-11ea-9a89-9fc3bbf7c690.png)

[2020-04-04 21:03] jnbn commented on #74
https://github.com/ankitpokhrel/tus-php/issues/258

[2020-04-16 10:40] MubinSayed opened #75 "Move Video to folder"
Hi there,
I want to use this following API
https://developer.vimeo.com/api/reference/folders#add_video_to_project

How do i use it ??

[2020-04-17 09:41] koriss commented on #75
++
im to search it

[2020-04-17 11:11] MubinSayed commented on #75
Vimeo::request('/me/projects/{project_id}/videos/{video_id}', [ ], 'PUT');

It worked for me :)

[2020-04-17 11:12] #75 closed

[2020-05-06 17:54] waqasraza123 commented on #72
its installed but still not able to configure the providers and aliases for it.

[2020-05-13 11:35] KristianLentino99 commented on #53
i have the same problem but when i tried to call https://api.vimeo.com/oauth/verify with my bearer token it returns nothing. what can i do to fix it?

[2020-05-15 20:13] jnbn commented on #74
you can use composer require “ankitpokhrel/tus-php:dev-master as v1.0.0” for now before requiring vimeo/laravel. until https://github.com/vimeo/vimeo.php/pull/259 is accepted

[2020-06-07 09:39] ikramooe commented on #74
i have the same problem

![image](https://user-images.githubusercontent.com/31781110/83965354-68422880-a8b3-11ea-9dd8-31ae9950e2d6.png)

![Capture2](https://user-images.githubusercontent.com/31781110/83965363-83149d00-a8b3-11ea-8f8a-7e7f51707c7b.PNG)

[2020-06-08 17:30] ikramooe opened #76 "No user credentials were provided"
Hello ,
so when i try to upload a video to my Vimeo  i get the error no user credentials were provided
even though i did set them here
'main' => [
            'client_id' => env('VIMEO_CLIENT', 'MY CODE'),
            'client_secret' => env('VIMEO_SECRET', 'MY CODE '),
            'access_token' => env('VIMEO_ACCESS', 'MY CODE '),
        ],

[2020-06-08 19:46] ikramooe commented on #53
same issue    but i need try to call https://api.vimeo.com/oauth/verify i only get no user credentials were provided
any fix ???

[2020-06-09 14:36] #76 closed

[2020-06-09 14:39] ikramooe commented on #40
same question
any solution  ??

[2020-06-23 07:02] Sameer-hesta opened #77 "Vimeo upload video error 500"
Hello,

I am having a Vimeo plus account,
There is an issue I am facing while uploading video from development
`{
    "data": "mkdir(): Permission denied",
    "status": 500,
    "error": true,
    "message": "Something went wrong"
}`

But this upload works fine when I use it on local server

[2020-07-05 02:32] lucasantoniooficial opened #78 "I am authenticated by token and the video is private"
I am implementing vimeo through the library at Laravel and when I leave the video private only for me the video does not play, the error saying Private video and asks to login.

[2020-07-14 08:27] weybansky commented on #62
Did you get a fix for this?

[2020-09-08 15:46] irakan opened #79 "laravel 8 support"

[2020-10-05 09:12] dannywp commented on #79
Please add support

[2020-10-15 15:32] stu177 commented on #79
Any update on this? Likely only needs the illuminate package versions bumped in the composer.json.

[2020-10-17 17:52] Greenvold commented on #77
Hi, I am facing the same issue. Did you manage to solve it somehow?

[2020-10-23 06:49] Greenvold commented on #77
Hi,

I managed to solve it. It was permissions issue on my VPS. While video upload there is a getCache metho inside of Vimeo.php file from the package. If you trace, dd() a bit it down it will show you the location of cache folder. I added write permissions there and it started working.

[2020-11-25 04:40] gautamsolankidev commented on #79
Add
support

[2020-11-26 13:27] #79 closed

[2020-12-14 19:18] mkuzmych opened #82 "Support PHP 8.0"
Please add support 8.0

[2020-12-27 18:36] Greenvold commented on #78
I think private videos are playable only on vimeo site after login. Try setting the video playable only on specific domains (localhost etc.) then embed the video.

[2020-12-27 18:38] Greenvold commented on #77
@bump Can we close this?

[2021-01-17 00:47] myrrhai opened #84 "Come Watch @Myrrhai on Vimeo.com"
Leave a comment on my Video(s) on Vimeo about GitHub #twitch #myrrhai #vimeo

[2021-01-17 00:57] #84 closed

[2021-03-27 14:04] tsbcylon opened #85 "How can I get the current state of the upload to show in a progress bar?"
I'm new in php, laravel, and vimeo API, but already can do the upload to vimeo and show it in my web project, but the window stay static when uploading process... so, I need a upload progress bar... I tried with some ways that I found in the internet, but the most closer that I come was with the bar full in 100% imediately, and the upload happen normaly, but the page dont go ahead...

[2021-04-20 21:23] eduardojansen commented on #77
It would be perfect if we could define the path of the cache directory.

[2021-05-22 10:19] arafat1243 commented on #10
@tbergeron this stile on windows. I'm using local server laragon and I'm facing the same issue.

[2021-05-22 10:26] arafat1243 opened #86 "Unable to complete request.[error setting certificate verify locations: CAfile... in windows"
Hi!

I'm using your library for a website in development and I cannot upload videos from the local server. My OS is windows and I'm using laragon with Nginx local server
I get this
[code]
The error happens immediately when I use Vimeo::upload(). Any idea?
#10

[2021-07-28 09:27] gildastema commented on #73
Please add config storage use for chunck

[2021-09-12 19:19] parakkajithin commented on #77
I also faced the same issue.
The exact path is /vendor/ankitpokhrel/tus-php/   and I created .cache folder and set it permission to 755

@rudolfbruder Thanks and we can close this.

[2021-12-05 20:31] AliNawazz96 commented on #77
I also face this issue but solve it with this simple step.

1.  go into vendor/ folder.
2. chmod -R 775 ankitpokhrel/
3. chown -R www-data ankitpokhrel/

[2022-01-11 07:26] Cooldude786 opened #87 "Unable to Upload the video on Viemo & giving permission denied error"
I am using Vimeo SDK integration for laravel 8 in my project to upload videos on vimeo. But whenever I try to upload a video I get the below error - "**file_put_contents(): write of 211 bytes failed with errno=13 Permission denied**". When I see on my Vimeo account for videos I can see the uploaded video but it remains there as transcoding state only.

[2022-01-11 15:10] aaronm67 commented on #87
The process running the app needs write permission to the temp directory (defaults to /tmp) for TusUpload to work.

For Laravel file uploads to work, the process also needs write permission to the file directory - you should probably look here first. This defaults to the http root.

[2022-01-19 13:22] kongo commented on #53
Have you figured it out?

[2022-01-19 15:24] Christophvh commented on #82
https://github.com/vimeo/laravel/releases/tag/5.6.1

[2022-01-19 15:28] Christophvh commented on #85
https://vimeo.zendesk.com/hc/en-us/articles/360042876551-Generating-an-upload-progress-bar

[2022-02-04 01:02] AshirButt925 commented on #87
### i also faced same error please help.....
**file_put_contents(): Write of 211 bytes failed with errno=13 Permission denied**

[2022-02-04 01:15] Cooldude786 commented on #87
It is the issue occuring in the windows system if you are using Linux then
you have solve it by giving file permissions as some people are saying on
GitHub. Sadly for windows I haven't found any solution.

On Fri, 4 Feb, 2022, 6:32 am AshirButt925, ***@***.***> wrote:

[2022-02-04 01:30] aaronm67 commented on #87
Both Linux and Windows have permissions. The process running the web server needs write access to the cache and temp directories, you can take a look at the [TusPhp ](https://github.com/ankitpokhrel/tus-php) library for more information.

I think this defaults to .cache in the webroot for cache, %TEMP% on Windows and /tmp on Linux/Mac respectively.

[2022-02-04 02:10] AshirButt925 commented on #87
okay, let me try on Linux system.... Thank you for your reply

[2022-02-05 23:32] AshirButt925 commented on #87
Yes it's not working on windows but on Linux its worked t

[2022-02-05 23:34] aaronm67 commented on #87
We're unfortunately not going to be able to give you any additional support here, this is a permissions issue on the account running the server, it's not an issue with the library.

[2022-02-05 23:34] #87 closed

[2022-02-16 15:48] Eggstoi opened #90 "Unable to get it working with Laravel 9"
I try to composer require vimeo/laravel on a Laravel 9 project. But I get this composer-error:

Problem 1
    - Root composer.json requires vimeo/laravel dev-master -> satisfiable by vimeo/laravel[dev-master].
    - vimeo/laravel dev-master requires illuminate/contracts ^5.8|^6.0|^7.0|^8.0 -> found illuminate/contracts[v5.8.0, ..., 5.8.x-dev, v6.0.0, ..., 6.x-dev, v7.0.0, ..., 7.x-dev, v8.0.0, ...

[2022-02-21 10:20] alexlungu commented on #90
@Andi82ka this has has now been merged into the master branch PR: https://github.com/vimeo/laravel/pull/89

It hasn't been tagged yet so you may upgrade laravel 9 with vimeo/laravel at dev-master in your composer.json file

[2022-02-25 11:11] welland-creative opened #91 "Laravel Vimeo Upload Error with Laragon "file_put_contents(): write of 211 bytes failed with errno=13 Permission denied""
Hi, I'm developing a website that uploads videos to Vimeo using this package while using Laragon for local development (which has been working well).

However recently I have been getting this error when trying to upload the videos.
[code]
I've tried:

- Reinstalling Laragon

- All php artisan / composer commands you could possibly think of to clear any caches (including entirely reinstalling the

[2022-02-25 14:55] aaronm67 commented on #91
This is a permissions issue with the user running your web app. Tus uploads default to `.cache` within the webroot - this means, on the default configuration, the user running your app needs write permission to a `.cache` directory in the webroot. On some webservers, this is not the default configuration.

There are some examples in the main PHP library of configuration where you specify a custom

[2022-02-25 15:27] welland-creative commented on #91
Thank you for your response.

I don't understand how to grant permissions to ```./vendor/ankitpokhrel/tus-php/.cache``` (I've tried to do this using the windows "properties" option and this hasn't worked).

I can't figure out the username ruining the web app and even if I had that username I won't know how to use it to set the permissions for that file.

Thank you for providing that link as an exa

[2022-02-25 16:08] aaronm67 commented on #91
On Windows, `get_current_user()` in PHP will return the username of the user running the application, in most cases it'll be some sort of system account.

The CLI tool for permissions in windows is icacls, you want something like

`icalcs C:/your_app/vendor/ankitpohrel/tus-php/.cache /grant THE_USER_NAME:M`

To set a custom cache directory, you would create a Factory that returns a `Vimeo` object,

[2022-04-25 22:07] electronic-club opened #93 "file_put_contents(): Write of 211 bytes failed with errno=13 Permission denied"
I am trying to upload a video on Vimeo using Laravel.
by upload I get the error
file_put_contents(): Write of 211 bytes failed with errno=13 Permission denied

a file of 0 mb is getting uploaded at vimeo panel.
I am on localhost, XAMPP, Windows, but I try also on online server larafel forge etc
and is the same error

[2022-04-30 11:21] handhikadj opened #94 "installation error on Laravel 6.20.44 with PHP 8.0.18"
`composer require vimeo/laravel`

[code]

[2022-06-12 20:19] cpelegrin commented on #93
Here is with the same problem without solution

[2022-07-05 13:51] sajjawal commented on #91
file_put_contents(): Write of 211 bytes failed with errno=13 Permission denied
someone please help how we resolve this error its is very urgent please help me i dont locate the file where it is

[2022-07-05 21:53] glacier890 opened #95 "Hash parameter"
Vimeo made some changes last year that if you have your videos as unlisted then you need to include the hash parameter to be able to embed the videos on your site. Is there a way to include the hash parameter in the response of the upload method?

[2022-07-06 16:17] aaronm67 commented on #95
Yes - when you request a video, you can use:

`/videos/{video_id}:{video_hash}`

So, `Vimeo::request('/videos/1234:abcd')`

[2022-07-06 16:27] glacier890 commented on #95
Thank you for the response. Sorry if I am misunderstanding your reply, but my issue is when I use the upload method to upload the video to Vimeo, I need to get the hash parameter in the response so I can store the hash parameter to our database. It seems like the only way to find the hash parameter for each video is logging in to Vimeo and finding it manually.

[2022-07-07 01:00] glacier890 commented on #95
That worked perfectly. Thank you!

[2022-07-07 01:00] #95 closed

[2022-08-02 18:07] alejandrofloresm commented on #93
This error is related to the directory where TusPhp\Cache\FileStore.php is pointing to.

I have not found a way to change the value.

[2022-10-14 17:58] akunbeben-dev commented on #77
I got 502 in every single request, cant event retrieve user profile

[2022-11-03 08:51] stapel-tv opened #96 "curl upload error on production server"
Hello,
I use Vimeo\Laravel\Facades\Vimeo Vimeo::upload to upload my video's and it works great on my dev machine.

If i run it on my production server, i get a cURL error.

cURL error 56: OpenSSL SSL_read: Connection reset by peer, errno 104 (see https://curl.haxx.se/libcurl/c/libcurl-errors.html) for https://europe-files.tus.vimeo.com/files/vimeo-prod-src-tus-eu/7b64d81dfad0fc58b46ddc7d053387fa {

[2022-11-29 10:22] abhinay1435 commented on #76
You need to Generate a Access Token from Vimeo with all the access like below

Go to My Apps Page
https://developer.vimeo.com/apps
Choose Your App
Then on the left hand Menu Click Permissions and then

![image](https://user-images.githubusercontent.com/7387189/204503786-cf91d42c-e31b-4d07-b05d-8311a0894a6e.png)
Generate a New Token and then use that